
block content

			div
				label(for="name") Name:
				input(type="text", name="name" value=recipe.name)
			div
				label(for="hours") Hours:
				input(type="text", name="hours" value=recipe.hours)
			div
				label(for="minutes") Minutes:
				input(type="text", name="minutes" value=recipe.minutes)
			div
				label(for="ingredients") Ingredients:
				textarea(name="ingredients")=recipe.ingredients
			div
				label(for="directions") Directions:
				textarea(name="directions")=recipe.directions
			div
				label(for="category") Category:
				select(name="category" id="category")
					option Select from below options
					//This allows me to return the selected category in the edit view
					option(value='Breakfast',  selected=recipe.category=='Breakfast') Breakfast
					option(value='Dinner', selected=recipe.category=='Dinner') Dinner
					option(value='Dessert', selected=recipe.category=='Dessert') Dessert
					option(value='Sides', selected=recipe.category=='Sides') Sides
					option(value='Cocktails', selected=recipe.category=='Cocktails') Cocktails
					
			div
				label(for="photo") Image:
				input(type="file", name="photo", accept="image/png, image/jpeg", value=recipe.photo)
			div
				input(type="submit")