extends ../layout

block content
    div(class="recipe")
        h2=recipe.name
        p='Time to make: '+ recipe.hours + ' hrs ' + recipe.minutes + ' min'
        p='Ingredients:  '+ recipe.ingredients
        p(class='directions')='Directions:  ' + recipe.directions
        a(href=`${recipe.id}/edit`) Edit
        a(href=`${recipe.id}/delete`) Delete
        a(href=`../categories/${recipe.category}`) Back